@import "tailwindcss";

@layer base {
	:root {
		touch-action: pan-x pan-y;
		height: 100%;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		background-color: var(--color-white);
		color: var(--color-zinc-700);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	p {
		font-size: var(--text-sm);
	}
}
